element {
    --animation-time: 0.6s;
}

.modal {
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: rgba(10, 10, 10, 1);
    animation: modalIncome 0.6s;
    padding: 8%;
    justify-content: center;
    left: 10%;
    bottom: 0%;
    right: 10%;
}

@media (max-width: 700px) {
    .modal {
        padding: 3%;
        left: 3%;
        right: 3%;
    }

}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    animation: modalDarkening 0.6s;
}

@keyframes modalIncome {
    from {
        bottom: -50%;
    }

    to {
        bottom: 0%;
    }
}

@keyframes modalDarkening {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}